/**
 * Stellar Dark - Calc
 **/

@import "stellar-colors.rasi"
@import "stellar-dark.rasi"

window {
    width: 300px;
}

mainbox {
    children: [ "entry", "message" ];
}

listview {
    enabled: false;
}

entry {
    placeholder: "   Calculate";
}
